# Virtuální prostředí
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Tooling cache (volitelné, ale brzy užitečné)
.pytest_cache/
.mypy_cache/
.ruff_cache/

# VS Code
.vscode/

# Logy / temp
*.log
*.tmp

# OS soubory
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo